<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>Superfood in Heidis Garten - ${TITLE}</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1><a href="./index.html">Superfood in Heidis Garten</a></h1>
		<ul id="legal">
			<li><a href="./impressum.html">Impressum</a></li>
			<li><a href="./datenschutz.html">Datenschutzerklärung</a></li>
		</ul>
		<div id="home">
			<a href="./index.html"><img src="avatar.jpg" alt="zur Homepage"></a>
		</div>
		<div id="cols">
			<ul id="nav">
				${NAVIGATION}
			</ul>
			<div id="content">
				<h2>${TITLE}</h2>
				${CONTENT}
			</div>
		</div>
		<p id="copy">&copy; 2017&ndash;${YEAR} Heidi Prinz</p>
	</body>
</html>
